* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.wraper {
    width: 90%;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.buttonload {
    background: transparent;
    border: none;
    color: green;
    font-size: 16px
}

.box {
    padding: 0.75rem;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    position: relative;
}

.box:hover::before, .box:hover::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from 0deg, transparent 70%, blue);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    border-radius: 1rem;
    transition: all 0.35s linear;
    animation: spin 4s linear infinite;
    background-size: 400%;
}

@keyframes spin{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
 }

.likeItem{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.box:hover .wrap-img .pic{
    transform: scale(1.1);
}

.wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border-radius: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}

.wrap-img > .pic {
    width: 25%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.product-details {
    margin-top: 10px;
    cursor: pointer;
}

.price {
    color: red;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.buy-button {
    background: rgb(255, 66, 78);
    width: 25%;
    height: fit-content;
    padding: 3px 0;
    margin: 0;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
}

.cart-button {
    width: 25%;
    height: fit-content;
    padding: 3px 0;
    margin: 0;
    cursor: pointer;
    background: rgb(31, 31, 186);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.detail{
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail > .typeItem{
    width: 130px;
    text-align: center;
    padding: 2px 0;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
}

@media (min-width: 800px) {
    .wraper {
        padding: 0 10px;
    }

    .wrap-img {
        height: 46%;
    }

    .product-details {
        height: 31%;
        margin-top: 4px;
    }

    .buy-button {
        width: 40%;
    }

    .cart-button {
        width: 40%;
    }
}

@media (max-width: 928px) {
    .container {
        padding: 0;
    }

    .wraper {
        width: 100%;
        padding: 0 10px;
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .box {
        width: 100%;
    }

    .product-details {
        height: 30%;
    }

    .wrap-img {
        padding: 1.5rem;
        height: 45%;
    }

    .buttons {
        height: 19%;
    }

    .name-product{
        font-size: 13px;
    }
}

@media (min-width: 1000px) {
    .wrap-img {
        padding: 1.5rem;
    }

    .wrap-img .pic {
        max-width: 30%;
    }
}