* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*-----------Main menu--------------*/
.topnav {
    background-color: #f80;
    border-radius: 0.5rem;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.dropbtn {
    background-color: inherit;
    padding: 16px;
    color: #f2f2f2;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .topnav {
        overflow: hidden;
    }

    .topnav a {
        float: left;
        display: block;
    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #fff;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
        min-width: 496px;
        border-radius: 0.5rem;
        background-color: inherit;
    }

    .dropdown-content li {
        max-width: 473px;
        border-bottom: 1px solid #fafafa;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*-----------main content--------------*/
.container {
    width: 100%;
    padding: 0 24px;
}

.wraper {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
}

.logIn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fff;
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.labelEmail, .labelPass {
    margin: 0.5rem 0;
    display: block;
}

.form > .inputEmail {
    width: 100%;
    height: 44px;
    padding-left: 0.5rem;
}

.form > .inputPassword {
    width: 100%;
    height: 44px;
    padding-left: 0.5rem;
}

.btnLogin {
    display: block;
    background-color: #0E927A;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.heading{
    text-align: center;
    padding: 5px 0;
}

.loginAccount{
    border-collapse: separate;
    border-spacing: inherit;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.textTd{
    font-size: 13px;
    color: #28313c;
    box-shadow: 0 1px 0 0 #f1f1f3;
    margin: 5px 0;
}

.textAccount{
    width: 100%;
    font-size: 15px;
    height: 30px;
}
.iconCopy{
    text-align: center;
}

@media (max-width: 928px) {
    .wraper {
        background: inherit;
    }

    .image > img{
        width: 100%;
        display: none;
    }

    .logIn{
        grid-template-columns: repeat(1, 1fr);
    }

    tr { 
        display: flex; 
        flex-wrap: wrap; 
    }

    td { 
        width: 50%; 
    }

    .iconCopy{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/*-------------footer---------------*/
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 13px;
}