@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}

/*-----------Main menu--------------*/
.topnav {
    background-color: #f80;
    border-radius: 0.5rem;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.dropbtn {
    background-color: inherit;
    padding: 16px;
    color: #f2f2f2;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media (max-width: 1000px) {
    .topnav {
        overflow: hidden;
    }

    .topnav a {
        float: left;
        display: block;
    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #fff;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
        min-width: 496px;
        border-radius: 0.5rem;
        background-color: inherit;
    }

    .dropdown-content li {
        max-width: 473px;
        border-bottom: 1px solid #fafafa;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*-----------main content--------------*/
.container {
    width: 100%;
    padding: 0 24px;
}

.wraper {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
}

.logIn {
    background-image: url("../images/bg-login.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login, .form-otp {
    background: #ffffff3f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 50px 0 50px 0;
    width: 45%;
    display: none;
}
.form-login.active, .form-otp.active{
    display: block;
}

.input-container {
    position: relative;
    margin: 1.5rem 0;
}

.inputAccount {
    width: 100%;
    height: 44px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
}

.inputAccount:focus {
    border-color: #4a90e2;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
}

.inputAccount:focus+label,
.inputAccount:not(:placeholder-shown)+label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #4a90e2;
    background-color: #f0f0f0;
    padding: 0 5px;
}

.acts{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
}

.acts > .rememberMe > input{
    transform: scale(1.5);
}

.acts > .sms, .form-otp > a{
    color: #fff;
    text-decoration: underline;
    text-align: left;
}

#iconPass {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555555;
    transition: color 0.3s ease-in-out;
}

.btnLogin, .btnOtp {
    display: block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    border: solid 1px #f39c12;
    background: #e67e22;
    box-shadow: 0px 6px 0px #d35400;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    margin: 15px 0;
}

.btnLogin:active, .btnOtp:active {
    box-shadow: 0px 2px 0px #d35400;
}

.heading {
    text-align: center;
    padding: 5px 0;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.loginAccount {
    border-collapse: separate;
    border-spacing: inherit;
    width: 100%;
    margin: 0 auto;
    place-content: stretch;
}

.textTd {
    font-size: 13px;
    color: #28313c;
    box-shadow: 0 1px 0 0 #f1f1f3;
    margin: 5px 0;
}

.textAccount {
    font-size: 15px;
    width: 100%;
    height: 30px;
}

.iconCopy {
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.form-otp > h3{
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
}
.input-otp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.input-otp > input{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.input-otp > input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-otp > input::-webkit-inner-spin-button,
.input-otp > input::-webkit-outer-spin-button {
  display: none;
}


@media (max-width: 968px) {
    tr {
        display: flex;
        flex-wrap: wrap;
    }

    td {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .textAccount {
        width: 100%;
    }

    .iconCopy {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .acts{
        flex-direction: column;
        align-items: center;
    }

    .form-login, .form-otp {
        padding: 10px;
        border-radius: 30px 0 30px 0;
        width: 80%;
    }
}

/*-------------footer---------------*/
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 13px;
}