* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wraperMenu {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.topnav {
    background-color: #f80;
    border-radius: 0.5rem;
    width: 89%;
    margin: 0 auto;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.dropbtn {
    background-color: inherit;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 17px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media (max-width: 900px) {
    .topnav {
        overflow: hidden;
        width: 98%;
    }

    .topnav a {
        float: left;
        display: block;
    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #fff;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
        min-width: 496px;
        border-radius: 0.5rem;
        background-color: inherit;
    }

    .dropdown-content li {
        max-width: 473px;
        border-bottom: 1px solid #fafafa;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}