/*--------------Search---------------*/
.searchProduct {
    margin-top: 3.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

.logoHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: #f80;
}

.searchProduct>.logoHeader>span {
    color: blue;
    font-size: 18px;
}

.search{
    width: 100%;
}

.textSearch {
    width: 50%;
    height: 48px;
    padding: 0 5px;
    border: 1px solid #dadada;
    border-radius: 0.5rem;
    border: 1px solid #13afdf;
    outline: none;
}
.iconSearch{
    position: relative;
    display: inline;
}

.btnReset{
    position: absolute;
    margin-left: -52px;
    margin-top: 1.5em;
    color:#13afdf;
    background: none;
    outline: none;
    border:none;
    cursor: pointer;
}

.btnSearch{
    border: none;
    color: #fff;
    background-color: #f80;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    border:none;
}

.buttonActions{
    display: flex;
}

.cartIcon, .heartIcon {
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: rgb(248, 221, 190);
    color: #f80;
}

.heartIcon{
    margin-right: 20px;
}

.badge {
    position: absolute;
    top: -6px;
    right: -2px;
    font-size: 1rem;
    padding: 3px 8px;
    border-radius: 50%;
    background: red;
    color: white;
}

@media (max-width: 768px) {
    .searchProduct {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .textSearch {
        width: 100%;
    }

    .btnReset{
        position: static;
        background-color: #f80;
        color: #fff;
        padding: 13px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 15px;
        border: none;
    }
}