* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*-----------Main menu--------------*/
.topnav {
    background-color: #f80;
    border-radius: 0.5rem;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav {
        overflow: hidden;
    }

    .topnav a {
        float: left;
        display: block;
    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #fff;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
        min-width: 496px;
        border-radius: 0.5rem;
        background-color: inherit;
    }

    .dropdown-content li {
        max-width: 473px;
        border-bottom: 1px solid #fafafa;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*-----------form to do list--------------*/
.container {
    width: 100%;
    padding: 0 24px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.wraper {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
}

.box {
    width: 50%;
    margin: 0 auto;
}

.row {
    margin: 15px 0;
}

.inputText {
    width: 70%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #13afdf;
    outline: none;
}

.buttonAdd {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    border: 1px solid #FCD200;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: #FCD200;
    background: inherit;
    margin: 0 25px;
}

.buttonAdd:hover {
    background: #F7CA00;
    color: #ffffff;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.showList {
    font-size: 20px;
}

.showList li {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

.nameTodo {
    flex: 3;
}

.actions {
    flex: 1;
}

i {
    cursor: pointer;
}

.result {
    position: fixed;
    top: 50px;
    right: 24px;
}

.message-success {
    color: green;
    background-color: greenyellow;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.message-success.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 600px) {
    .wraper {
        background: inherit;
    }

    .box,
    .inputText {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .buttonAdd {
        margin: 0;
    }

    .result {
        top: 51px;
        right: 0;
    }

    .message-success {
        font-size: 12px;
        padding: 5px 2px;
    }
}

/*-------------footer---------------*/
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 0.5rem;
    margin-top: 1rem;
}